# Dependencies
node_modules/

# Build outputs
dist/
*.exe
*.msi
*.zip

# Environment variables
.env

# Logs
error_log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
Thumbs.db
Desktop.ini
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
